.post-card {
    margin: 20px;
    padding: 20px;
    background-color:paleturquoise;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    text-overflow:ellipsis;
    overflow: hidden;
  }

  .postid {
    text-align:left;
  }

  .cost-box, .desc-box {
    text-align:right;
  }
  .seller-detail {
    object-fit: contain;
  }
  img {
    width: auto;
    /* height: 100%; */
    object-fit: contain;
    /* overflow: hidden; */
  }